@import "vars";
@import "mixins";
body {
  height: 3000px;
}
.item{
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 24px;
  margin-top: 1000px;
}
.red{
  background-color: red;
}
.green{
  background-color: green;
}
.blue{
  background-color: blue;
}